@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// NAVBAR
.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  .navbrand {
    width: 50%;
  }
  .navbrand img {
    width: 168px;
  }
  .navlinks {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
  }
  .navlinks .links {
    text-decoration: none;
    color: #253d4e;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .navlinks .links:hover {
    color: #a3a3a3;
  }
  .navlinks .selected {
    color: #06648e;
    font-weight: 600;
    margin-bottom: 10;
  }
  .toggleBtn {
    display: none;
  }
}

// FOOTER
.footer {
  display: flex;
  background-color: #04405a;
  padding: 20px 180px;
  font-family: "Poppins", sans-serif;
  .col1 {
    width: 286px;
    margin-right: 100px;
    .title {
      font-size: 14px;
      color: white;
      font-weight: 700;
    }
    .desc {
      font-size: 9px;
      color: white;
      font-weight: 300;
      text-align: justify;
    }
    .creds {
      font-size: 7px;
      color: white;
      font-weight: 200;
      margin-top: 27px;
    }
  }
  .col2 {
    width: 138px;
    display: flex;
    flex-direction: column;
    .upper {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }
    .upper .title,
    .lower .title {
      font-size: 14px;
      color: white;
      font-weight: 700;
      margin-top: -20px;
      margin-bottom: 5px;
    }
    .lower {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
    }
    .upper .link,
    .lower .link {
      text-decoration: none;
      margin-top: 0px;
      font-size: 10px;
      color: white;
      font-weight: 300;
    }
  }
  .col3 {
    width: 150px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    .titles {
      color: white;
      font-size: 14px;
      font-weight: 700;
      margin-top: 0px;
    }
    .subtitles {
      font-size: 10px;
      line-height: 1;
      color: white;
      font-weight: 300;
      margin-top: 5px;
    }
  }
}

// RECIPIE CATEGORY FILTER

.Recipe_category {
  display: block;
  display: flex;
  padding: 30px 20px 30px 50px;
  height: 100px;
  font-family: "Poppins", sans-serif;
  .title {
    font-size: 16px;
    width: 130px;
    margin-top: 0px;
    font-weight: 700;
    color: #06648e;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 826px;
    margin-left: 30px;
    margin-top: 0;
  }
  .selected {
    background-color: #06648e;
    color: white;
  }
  .button {
    border-radius: 15px;
    padding: 10px;
    color: #253d4e;
    background-color: white;
    font-size: 14px;
    width: calc(50% - 10px);
    transition: 0.2s ease;
    border: 0px;
  }
  .smallfont {
    border-radius: 15px;
    padding: 10px;
    color: #253d4e;
    background-color: white;
    font-size: 15px;
    width: calc(50% - 10px);
    transition: 0.2s ease;
    border: 0px;
  }
  .button:hover,
  .smallfont:hover {
    background-color: #06648e;
    color: white;
  }
}

// RECIPIE CATEGORY FILTER

// RECIPE BOX

.Recipe_box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 80px 50px 80px;
  font-family: "Poppins", sans-serif;
  .box {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 40px;
    max-width: 191px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  .box:hover {
    transform: scale(1.1);
  }
  .box img {
    width: 180px;
    height: 123px;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .recipie_title {
    font-size: 12px;
    font-weight: 600;
    margin: 10px 7px;
    text-transform: capitalize;
    color: black;
  }
  .box h6 {
    font-size: 11px;
    margin: 9px 7px;
    color: red;
  }
}

// ABOUT US
.about_us {
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  .about_title {
    display: flex;
    justify-content: space-around;
  }
  .title_container {
    width: 300px;
    text-align: center;
    border-bottom: 2px solid #06648e;
  }
  .title_container .title {
    text-align: center;
    font-size: 24px;
    color: #253d4e;
  }
  .about_text .text {
    margin: auto;
    width: 767px;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
  }
  .about_image_flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 80px;
    width: 790px;
    margin: 60px auto;
  }
  .imagebox {
    width: 155px;
    margin: 20px 20px;
    height: 155px;
    object-fit: cover;
    background-color: #d9d9d9;
    border-radius: 10px;
  }
}

// CAROUSEL
.slidingGallery {
  display: flex;
  align-items: center;
}
.image {
  width: 100%;
  height: 427px;
  object-fit: cover;
}

.contact_us {
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 200px;
  .contact_title {
    display: flex;
    justify-content: space-around;
  }
  .contact_container {
    width: 300px;
    text-align: center;
    border-bottom: 2px solid #06648e;
  }
  .contact_container .title {
    text-align: center;
    font-size: 24px;
    color: #253d4e;
  }
  .contact_text .text {
    margin: auto;
    width: 767px;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
  }
  .contact_text .email {
    color: #06648e;
  }
}

// HOME TITLE
.home_title {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;

  .home_container {
    width: 300px;
    text-align: center;
    border-bottom: 2px solid #06648e;
  }
  .home_container .title {
    text-align: center;
    font-size: 24px;
    color: #253d4e;
  }
}

// VIEWPAGE TITLE
.Viewpage_title {
  display: flex;
  justify-content: space-evenly;
  color: #253d4e;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;

  .viewpage_top {
    text-align: center;

    .title_div {
      text-align: center;
      border-bottom: 1px solid #06648e;
      font-weight: 600;
      margin: 0px auto;
      width: 350px;
      padding-bottom: 5px;
    }
    .title {
      font-size: 24px;
    }
    .subtitle {
      font-size: 16px;
      font-weight: 400;
    }
  }
  .description {
    width: 424px;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
  }
}

// VIEWPAGE DETAILS
.recipe_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px 100px;
  color: #253d4e;
  font-family: "Poppins", sans-serif;

  .col1 {
    width: 60%;

    .img {
      width: 440px;
      height: 416px;
      object-fit: cover;
      border-radius: 10px;
    }
    .oval {
      margin-top: 20px;
      background-color: #06648e;
      width: 440px;
      height: 18px;
      border-radius: 20px;
    }
    .details {
      z-index: -1;
      margin-top: -2px;
      border: 1px solid black;
      border-top: 0;
      width: 430px;
      margin-left: 5px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 20px 30px 30px 30px;
    }
    .table {
      width: 100%;
    }
    .table tr td .title {
      font-size: 12px;
      margin-top: 10px;
      font-weight: 700;
    }
    .table tr td .subtitle {
      font-size: 12px;
      font-weight: 400;
    }
  }
  .col2 {
    width: 40%;
    font-size: 14px;
  }
  .ingredients {
    font-weight: 700;
  }
  .ul {
    list-style: disc;
    margin-left: 30px;
    .li {
      margin-top: 5px;
    }
  }
  .procedure {
    margin-top: 30px;
    font-weight: 700;
  }
  .ol {
    list-style-type: decimal;
    margin-left: 30px;
    .li {
      margin-top: 5px;
    }
  }
}

// STYLING FOR 882px
@media screen and (max-width: 882px) {
  .Recipe_category {
    .smallfont {
      border-radius: 15px;
      padding: 10px;
      color: #253d4e;
      background-color: white;
      font-size: 12px;
    }
    .button:hover,
    .smallfont:hover {
      background-color: #06648e;
      color: white;
    }
  }
}

// STYLING FOR TABLET VIEW
@media screen and (max-width: 768px) {
  // NAVBAR TABLET VIEW
  .nav {
    padding: 10px 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    .navbrand {
      width: 50%;
    }
    .navbrand img {
      width: 171px;
    }
    .navlinks {
      padding: 15px 15px;
    }
    .navlinks .links {
      font-size: 15px;
    }
    .navlinks .selected {
      color: #06648e;
      font-weight: 600;
      font-size: 15px;
    }
  }

  // FOOTER TABLET VIEW
  .footer {
    padding: 20px 110px;
    .col1 {
      width: 100%;
      margin-right: 100px;

      .title {
        font-size: 12px;
        font-weight: 700;
      }

      .desc {
        font-size: 8px;
        margin-top: 10px;
      }

      .creds {
        font-size: 7px;
        color: white;
        width: 227px;
        font-weight: 200;
        margin-top: 15px;
      }
    }

    .col2 {
      width: 150px;
      margin-left: -50px;

      .upper {
        margin-top: 20px;
      }

      .upper .title,
      .lower .title {
        width: 100%;
        font-size: 12px;
        margin-top: -20px;
        margin-bottom: 5px;
      }

      .lower {
        margin-top: 25px;
      }

      .upper .link,
      .lower .link {
        margin-top: 0px;
        font-size: 9px;
      }
    }

    .col3 {
      width: 150px;
      padding-left: 0px;

      .titles {
        color: white;
        font-size: 12px;
        font-weight: 700;
        margin-top: 0px;
      }

      .subtitles {
        font-size: 9px;
        line-height: 1;
        color: white;
        font-weight: 300;
        width: 50%;
        margin-top: 6px;
      }
    }
  }

  // CAROUSEL TABLET VIEW
  .image {
    width: 100%;
    height: 380px;
    object-fit: cover;
  }

  // RECIPE FITLER TABLET VIEW
  .Recipe_category {
    display: flex;
    padding: 30px 20px 30px 20px;

    .title {
      font-size: 14px;
      width: 15%;
      margin-top: 14px;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      width: 85%;

      margin-left: 0px;
    }
    .button,
    .smallfont {
      border-radius: 15px;
      padding: 10px;
      font-size: 14px;
      width: auto;
      transition: 0.2s ease;
      height: 50px;
      border: 0px;
    }
  }

  // RECIPE BOX TABLET VIEW
  .Recipe_box {
    margin: 10px 30px 10px 30px;
    .box {
      max-width: 143px;
      margin-bottom: 35px;
    }

    .box img {
      width: 140px;
      height: 123px;
    }
    .recipie_title {
      font-size: 10px;
    }
    .box h6 {
      font-size: 12px;
      margin: 9px 7px 7px 7px;
    }
  }

  // ABOUT US TABLET VIEW
  .about_us {
    margin-top: 50px;
    .title_container {
      width: 300px;
    }
    .title_container .title {
      font-size: 24px;
    }
    .about_text .text {
      width: 629px;
      margin-top: 30px;
      font-size: 14px;
    }
    .about_image_flex {
      margin-top: 80px;
      width: 640px;
      margin: 2% auto;
    }
    .imagebox {
      width: 149px;
      margin: 20px 0px;
      height: 151px;
    }
  }

  // CONTACT US TABLET VIEW
  .contact_us {
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 100px;
    .contact_title {
      display: flex;
      justify-content: space-around;
    }
    .contact_container {
      width: 300px;
      text-align: center;
      border-bottom: 2px solid #06648e;
    }
    .contact_container .title {
      text-align: center;
      font-size: 24px;
      color: #253d4e;
    }
    .contact_text .text {
      margin: auto;
      width: 635px;
      text-align: center;
      margin-top: 30px;
      font-size: 14px;
    }
    .contact_text .email {
      color: #06648e;
    }
  }

  // VIEWPAGE TABLET VIEW
  .recipe_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 60px;
    color: #253d4e;
    font-family: "Poppins", sans-serif;

    .col1 {
      width: 60%;

      .img {
        width: 338px;
        height: 303px;
        object-fit: cover;
        border-radius: 10px;
      }
      .oval {
        margin-top: 20px;
        background-color: #06648e;
        width: 338px;
        height: 18px;
        border-radius: 20px;
      }
      .details {
        z-index: -1;
        margin-top: -2px;
        border: 1px solid black;
        border-top: 0;
        width: 329px;
        margin-left: 5px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px 10px 20px 25px;
      }
      .table {
        width: 100%;
      }
      .table tr td .title {
        font-size: 10px;
        margin-top: 10px;
        font-weight: 700;
      }
      .table tr td .subtitle {
        font-size: 9px;
        font-weight: 400;
      }
    }
    .col2 {
      width: 40%;
      font-size: 14px;
    }
    .ingredients {
      font-weight: 700;
    }
    .ul {
      list-style: disc;
      margin-left: 30px;
      .li {
        margin-top: 5px;
        font-size: 11px;
      }
    }
    .procedure {
      margin-top: 30px;
      font-weight: 700;
    }
    .ol {
      list-style-type: decimal;
      margin-left: 30px;
      .li {
        margin-top: 5px;
        font-size: 11px;
      }
    }
  }
}

// ALL SIZE NAVBAR
@media screen and (max-width: 660px) {
  // NAVBAR 660px
  .nav {
    padding: 10px 10px;
    .navlinks {
      position: static;
      display: none;
      border-bottom: 1px solid rgb(206, 206, 206);
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #f9f9f9;
      border-top: 1px solid #ccc;
      padding-top: 10px;
      transition: all 0.5s ease;
      &.show {
        display: flex;
      }
    }
    .navbrand img {
      width: 115px;
    }
    .navlinks .links {
      font-size: 12px;
      margin-bottom: 5px;
    }
    .navlinks .selected {
      margin-bottom: 5px;
      font-size: 12px;
    }
    .toggleBtn {
      display: block;
      font-size: 13px;
      color: #253d4e;
      font-weight: 600;
    }
  }
  // FOOTER 660px
  .footer {
    padding: 20px 50px;
    .col1 {
      width: 40%;
      margin-right: 80px;
      .title {
        font-size: 10px;
        font-weight: 700;
      }
      .desc {
        font-size: 8px;
        font-weight: 300;
        text-align: justify;
      }
      .creds {
        font-size: 6px;
        font-weight: 200;
        margin-top: 10px;
      }
    }
    .col2 {
      width: 20%;
      .upper {
        margin-top: 20px;
      }
      .upper .title,
      .lower .title {
        font-size: 10px;
        font-weight: 700;
        margin-top: -20px;
        margin-bottom: 5px;
      }
      .lower {
        margin-top: 35px;
      }
      .upper .link,
      .lower .link {
        margin-top: 0px;
        font-size: 7px;
        font-weight: 300;
      }
    }
    .col3 {
      width: 150px;
      padding-left: 50px;
      .titles {
        font-size: 10px;
        font-weight: 700;
        margin-top: 0px;
      }
      .subtitles {
        font-size: 7px;
        line-height: 1;
        font-weight: 300;
        margin-top: 6px;
      }
    }
  }

  // ABOUT US 660px
  .about_us {
    margin-top: 50px;
    .title_container {
      width: 30%;
    }
    .title_container .title {
      font-size: 20px;
    }
    .about_text .text {
      width: 80%;
      margin-top: 30px;
      font-size: 12px;
    }
    .about_image_flex {
      margin-top: 80px;
      width: 80%;
      margin: 2% auto;
    }
    .imagebox {
      width: 110px;
      margin: 20px 0px;
      height: 112px;
    }
  }
  // CONTACT US 660px
  .contact_us {
    .contact_title {
      display: flex;
      justify-content: space-around;
    }
    .contact_container {
      width: 30%;
    }
    .contact_container .title {
      font-size: 20px;
    }
    .contact_text .text {
      margin: auto;
      width: 80%;
      text-align: center;
      margin-top: 30px;
      font-size: 12px;
    }
  }
  .Recipe_category {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 30px 20px;
    height: auto;

    .title {
      font-size: 12px;
      width: 15%;
      margin-top: 14px;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      margin-left: 0px;
    }
    .button,
    .smallfont {
      border-bottom: 1px solid #ececec;
      border-radius: 2px;
      padding: 5px;
      font-size: 14px;
      width: 100%;
      transition: 0.2s ease;
      height: auto;
    }
  }
}

// ALL SIZE FOOTER 400px
@media screen and (max-width: 400px) {
  // FOOTER
  .footer {
    padding: 20px 20px;
    .col1 {
      width: 40%;
      margin-right: 80px;
      .title {
        font-size: 10px;
      }
      .desc {
        font-size: 6px;
      }
      .creds {
        font-size: 6px;
        margin-top: 10px;
      }
    }
    .col2 {
      width: 15%;
      .upper {
        margin-top: 20px;
      }
      .upper .title,
      .lower .title {
        font-size: 9px;
        margin-top: -20px;
        margin-bottom: 5px;
      }
      .lower {
        margin-top: 30px;
      }
      .upper .link,
      .lower .link {
        margin-top: 0px;
        font-size: 7px;
      }
    }
    .col3 {
      width: 30%;
      padding-left: 50px;
      .titles {
        font-size: 9px;
        margin-top: 0px;
      }
      .subtitles {
        font-size: 7px;
        margin-top: 6px;
      }
    }
  }
  // ABOUT US 400px
  .about_us {
    margin-top: 50px;
    .title_container {
      width: 40%;
    }
    .title_container .title {
      font-size: 14px;
    }
    .about_text .text {
      width: 80%;
      margin-top: 30px;
      font-size: 10px;
    }
    .about_image_flex {
      margin-top: 80px;
      width: 80%;
      margin: 2% auto;
    }
    .imagebox {
      width: 110px;
      margin: 20px 0px;
      height: 112px;
    }
  }

  // CONTACT US 400px
  .contact_us {
    .contact_title {
      display: flex;
      justify-content: space-around;
    }
    .contact_container {
      width: 30%;
    }
    .contact_container .title {
      font-size: 14px;
    }
    .contact_text .text {
      margin: auto;
      width: 80%;
      text-align: center;
      margin-top: 30px;
      font-size: 10px;
    }
  }
}

// STYLING FOR MOBILE VIEW
@media screen and (max-width: 350px) {
  // FOOTER MOBILE VIEW

  // CAROUSEL MOBILE VIEW

  // FILTER CATEGORY MOBILE VIEW

  // RECIPE BOX MOBILE VIEW
  .Recipe_box {
    margin: 10px 10px 10px 10px;
    .box {
      max-width: 143px;
      margin-bottom: 35px;
    }

    .box img {
      width: 121px;
      height: 123px;
    }
    .recipie_title {
      font-size: 10px;
    }
    .box h6 {
      font-size: 12px;
      margin: -5px 7px 3px 7px;
    }
  }

  // ABOUT US MOBILE VIEW

  // CONTACT US MOBILE VIEW

  // VIEWPAGE MOBILE VIEW
}
